.fc-col-header-cell.fc-day.fc-day-sun{
    color: red;
}
.fc-col-header-cell.fc-day.fc-day-sat{
    color: blue;
}
.fc-toolbar-title:after{
    content: ' 직원휴무표';
}
.fc-event-title-container{
    text-align: center;
}
@media(max-width:500px){
.fc-today-button.fc-button{
    display:none;
}
.fc-prev-button.fc-button{
    display:none;
}
.fc-next-button.fc-button{
    display:none;
}
.fc-toolbar{
    margin:0 auto;
}
.fc-daygrid-day{
    height: 50px;
}
#calendar{
    height: 600px;
}
}